<li class="message-preview">
    <a href="#">
        <div class="media">
            <span class="pull-left">
                <img class="media-object" src="http://placehold.it/50x50" alt="" />
            </span>
            <div class="media-body">
                <h5 class="media-heading"><strong>John Smith</strong>
                </h5>
                <!-- DateTime   -->
                <app-date-time></app-date-time>
                <!-- DateTime   -->
                <p *ngFor="let message of messages">
                    <td>{{message.id}}</td>
                    <td>{{message.name}}</td>
                    <td>{{message.date}}</td>
                    <td>{{message.time}}</td>
                </p>

            </div>
        </div>
    </a>
</li>
